# create a new file named `.env.test`
# and assign CA_BUNDLE to your system path\ca.pem file

CA_BUNDLE=C:\your\path\and\certificates.pem

# ----------------------------------------------------------------------------
# two alternatives to having a .env file
#
# ( 1.) you can set this value as an environment variable
# $ set CA_BUNDLE=C:\your\path\and\certificates.pem     # for win OS
# $ export CA_BUNDLE=C:\your\path\and\certificates.pem  # for nix OS
#
# ( 2.) or you can pass the CA_BUNDLE with the `--verify` argument
# example
# > pipreqs --verify C:\your\path\and\certificates.pem .
# ----------------------------------------------------------------------------
