# create a new file named `.env.test`
# and assign CA_BUNDLE to your system path\ca.pem file

CA_BUNDLE=C:\your\path\and\certificates.pem

# alternatively you can set this value as an environment variable
# $ set CA_BUNDLE="C:\your\path\and\certificates.pem"     # for win OS
# $ export CA_BUNDLE="C:\your\path\and\certificates.pem"  # for nix OS
