name: flake8

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    tags:
      - "*"
    branches:
      - main
      - master
      - develop
      - "release/*"
  pull_request:

jobs:
    flake8-lint:
        runs-on: ubuntu-24.04
        name: Lint
        steps:
            - name: Check out source repository
              uses: actions/checkout@v4
            - name: Set up Python environment
              uses: actions/setup-python@v5
              with:
                  python-version: "3.14"
            - name: flake8 Lint
              uses: reviewdog/action-flake8@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  reporter: github-pr-review
